.card-icon img{
    width: 10%;
}

.card{
    position: relative;
    border: none;
    cursor: pointer;
}
.card-description{
    position: absolute;
    top: 20%;
    color: var(--white-color);
    text-align: center;
    padding: 0 30px;
}

.card-description .card-heading h2{
    padding: 10px 0;
    font-size: 2.5rem;
}
.card-image img{
    min-height: 280px;
}

.card:hover .card-image img{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.card-image{
    overflow: hidden;
}



@media (max-width:768px){
    .gym-block .card{
        margin-bottom: 15px;
    }
}