
.navigation-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 50px;
    padding: 20px;
}

.nav-links-block .nav-links{
    display: flex;
    list-style: none;
}

.navigation-main .primary-cta .cta{
    padding: 12px 15px;
}

.navigation-main .nav-links-block{
    font-size: 1.5rem;
    font-weight: 700;
}
.navigation-main .nav-links-block .nav-links a{
    padding-right: 50px;
    position: relative;
}

.navigation-main .nav-links-block .nav-links a li::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--red-color);
    margin: auto;
    transition: 0.5s;
}
.navigation-main .nav-links-block .nav-links a li:hover::after{
    width: 100%;
}


.nav-button{
    display: none;
    color: var(--white-color);
    /* border: 2px solid var(--red-color); */
    /* padding: 3px 13px; */
    font-size: 2rem;
}

.nav-button .nav-icon{
    min-height: 20px;
    font-size: 15px;
    padding: 8px 15px;
    background: var(--red-color);
}

@media (max-width:1024px){
  .header-contact{
    display: none;
  }
  .navigation-main .primary-cta{
    display: none;
  }
  .navigation-main{
    top:0;
  }
  .nav-button{
    display: block;
  }
  .nav-button .close-outline{
    display: none;
  }

  .navigation-main .nav-links-block{
    opacity: 0;
    visibility: hidden;
    position:fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    background: black;
    width: 270px;
    height: 100vh;
  }

  .navigation-main .nav-links-block.button-active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

  .navigation-main .nav-links{
        flex-direction: column;
        padding-left: 0;
        margin-top: 20%;
  }
  .navigation-main .nav-links a{
    padding:10px 30px;
  }

  .active .close-outline{
    display: block;
  }
  .active .menu-outline{
    display: none;
  }
}